# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Shared objects
*.so
*.so.*

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# JetBrains IDEs
.idea/

# CMake
cmake-build-*/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# CMakeTools
build/
